
    <h1><%= @list.name %></h1>
    <span class="movie-tag"><%= pluralize(@list.movies.size, 'movie') %></span>
    <span class="mb-2 d-block"><small><em class="text-muted"><%= "You haven't saved any movies yet!" if @list.movies.empty? %></em></small></span>

      <%= link_to 'add a movie', new_list_bookmark_path(@list), class: 'btn btn-flat' %>
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
          <%= image_tag movie.poster_url, alt: movie.title, class: 'movie-img rounded-top' %>
            <strong><%= movie.title %> <span class="text-muted font-weight-normal">• <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
            <small class="text-muted"><%= movie.overview %></small>
                <i class="fas fa-quote-left mr-2"></i><small class="flex-grow-1"><%= bookmark.comment %></small>
<%= link_to "Back", lists_path(@lists)%>
 <small class="text-right flex-shrink-0"><%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>

    <% end %>
