<h1>Bookmark</h1>

<p>
  <strong>List:</strong>
  <%= @bookmark.list.name %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @bookmark.movie.title %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @bookmark.comment %>
</p>

<%= link_to "Back", bookmarks_path %> |
<%= link_to "Delete", bookmark_path(@bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
